<h1>New novel</h1>

<%= form_for(@novel) do |f| %>
  <% if @novel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@novel.errors.count, "error") %> prohibited this novel from being saved:</h2>

      <ul>
      <% @novel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>:
    <%= f.text_field :name %> <br>
    <%= f.label :author %>:
    <%= f.text_field :author %><br>
    <%= f.label :description %>:
    <%= f.text_area :description ,:cols => "400"%><br>
    <%= f.label :pic %>:
    <%= f.text_field :pic %><br>
    <%= f.label "category id" %>:
    <%= f.text_field :category_id %> 10(名著古典),11(科普其它),14(玄幻魔法),15(武俠修真),16(都市言情),17(歷史軍事),18(游戲競技),19(科幻小說),20(恐怖靈異),21(美文散文),22(同人小說),23(輕小說),24(穿越重生)<br>
    <%= f.label :article_num %>:
    <%= f.text_field :article_num %> 給一個大概的集數<br>
    <%= f.label :last_update %>:
    <%= f.text_field :last_update, value: (DateTime.now.utc + 8.hours).strftime("%y-%m-%d") %> ex: 12-06-01 <br>
    <%= f.label :is_serializing %>:
    <%= f.text_field :is_serializing, value: 1 %> 0(全本)1(連載中)<br>
    <%= f.label :is_category_recommend %>:
    <%= f.text_field :is_category_recommend %><br>
    <%= f.label :is_category_hot %>:
    <%= f.text_field :is_category_hot %><br>
    <%= f.label :is_category_this_week_hot %>:
    <%= f.text_field :is_category_this_week_hot %><br>
    <%= f.label :is_classic %>:
    <%= f.text_field :is_classic %> (經典小說)<br>
    <%= f.label :is_classic_action %>:
    <%= f.text_field :is_classic_action %>(經典武俠)<br>
    <%= f.label :link %>:
    <%= f.text_field :link %><br>


    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', novels_path %>

<br>#########################################################################<br>

<table>
  <tr>
    <th>網站</th>
    <th>Google search(click to google search)</th>
    <th>能不能爬網站的文章列表</th>
    <th>推薦使用的網站</th>
    <th></th>
  </tr>

<% @websites.each do |website_name, info| %>
  <tr>
    <% url = info['pattern'][1..info['pattern'].length-4] %>
    <th><%= website_name %></th>
    <th><%= link_to url,"https://www.google.com/search?q=#{@novel.name}+site%3A#{url}",:target => "_blank" %></th>
    <th><%= info['crawl_site_articles'] %></th>
    <th><%= info['recommend'] %></th> 
  </tr>
<% end %>

</table>
